.cat-card {
  border: 1px solid gray;
  margin: 10px;
  width: 200px;
  box-shadow: 3px 3px 5px gray;
  border-radius: 10px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.cat-card:hover {
  transform: scale(1.1);
}

.cat-img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  padding: 10px;
}
