.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.navbar ul {
  width: 100%;
}

#brand {
  font-family: "Fugaz One", cursive;
  text-shadow: 2px 2px #f18d73;
  color: #000;
  font-size: 2.5em;
}

.navbar {
  height: 4em;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 60px;
  }
}
